<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js basic</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>

    <div class="user-table">
      <h2>User list</h2>
      <table id="customers">
        <tr>
          <th>Id</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Action</th>
        </tr>

        <h3>numbers: <%= dataUser.length%> users</h3>
        <% for(let i=0; i < dataUser.length; i++) { %>
        <tr>
          <td><%= dataUser[i].id %></td>
          <td><%= dataUser[i].firstName %></td>
          <td><%= dataUser[i].lastName %></td>
          <td class="btn-group">
            <a href="<%= userDetailUrl%>/<%= dataUser[i].id%>" target="_blank">
              <button class="nav-btn">Details</button>
            </a>
            <a href="<%= editUserUrl%>/<%= dataUser[i].id%>">
              <button type="submit" class="nav-btn">Edit</button>
            </a>
            <form action="<%= delUserUrl%>/<%= dataUser[i].id%>" method="post">
              <button type="submit" class="nav-btn">Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </table>

      <div class="user-form-container">
        <form action="<%= newUserUrl%>" method="post">
          <div class="user-heading">Create an user</div>
          <div class="group-control">
            <label class="label-user" for="fn_for">First name</label>

            <input
              class="user-input"
              type="text"
              id="fn_for"
              name="firstName"
            />
          </div>
          <div class="group-control">
            <label class="label-user" for="ln_for">Last name</label>
            <input class="user-input" type="text" id="ln_for" name="lastName" />
          </div>
          <div class="group-control">
            <label class="label-user" for="e_for">Email</label>
            <input class="user-input" type="email" id="e_for" name="email" />
          </div>
          <div class="group-control">
            <label class="label-user" for="addr_for">Address</label>
            <input
              class="user-input"
              type="text"
              id="addr_for"
              name="address"
            />
          </div>
          <div class="btn-submit-user">
            <button type="submit" class="btn-submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
